header {
    color:rgb(179, 16, 49);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px 10px;
    padding: 10px 10px;
    position: sticky;
  }
  
  .heading {
    border: 1px solid green;
    color: navy;
    background-color: yellowgreen;
    opacity: 0.4;
    font-weight: bold;
    margin: 50px 10px;
    width: 500px;
    height: 100px;
    position: relative;
    top: 10px;
  }
  
  .h3 {
    text-align: "center";
    position: scroll;
  }
  
  .summary {
    width: 500px;
    height: 200px;
    border: 1px solid darkviolet;
    color:rgb(150, 29, 53);
    background-color: rgb(236, 150, 118);
    opacity: 0.4;
    letter-spacing: 1px;
    padding: 10px;
    margin: 20px 10px;
  
  }
  
  .summary :hover { color:rgb(22, 1, 5);}
  
  
  .Experience {
    width: 500px;
    height: 500px;
    border: 1px solid orchid;
    padding: 10px;
    margin: 20px 10px;
    color: rgb(17, 5, 1);
    background-color:darkgoldenrod;
    opacity: 0.5;
  }
  
  
  .skills {
    height: 400px;
    width: 500px;
    border: 1px solid blue;
    padding: 10px;
    margin: 20px 10px;
    color: rgb(3, 3, 43);
    background-color: aqua;
    opacity: 0.5;
  
  }
  
  .image {
    width: 50%;
    /*height: 500px;*/
    /*position: sticky top;*/
  
  }
  
  footer {
    border: 1px white;
    margin: 20px 10px;
    padding: 10px;
    background-color: rgba(120, 160, 120, 0.3);
    width: 500px;
  }
  
  h4:hover {
    color:white;
    background-color: blue;

  }
  